*{

box-sizing: border-box; /*TO MAKE SURE THAT THE PADDING AND BORDER ARE INCLUDED IN THE TOTAL WIDTH AND HEIGHT OF THE ELEMENTS*/
}

@media only screen and (min-width: 100px) { 

h1 {                      /*TO DESIGN H1 ELEMENT*/
    width: 100%;              /*TO SET THE PLACE IT WILL TAKE ON THE SCREEN TO 100%*/
    float: left;              /*MAKE THE H1 ELEMENT POSITIONED ON THE LEFT SIDE OF THE CONTAINER*/
    font-style: oblique;      /*TO MAKE THE FONT STYLE OBLIQUE*/
    font-size: 3em;           /*THE FONT SIZE 3 EM*/
    color: white;             /*TO MAKE THE H1 ELEMENT COLOR WHITE*/
    margin-top: 0px;          /*TO SET THE H1 ELEMENT AND TOP OF THE PAGE SPACE TO 0PX*/
    font-weight: 800;         /*TO MAKE H1 ELEMENT BOLD*/
    text-shadow: 1px 1px 2px white, 0 0 25px Pink, 0 0 5px purple; 
    text-align: center;
}

body {                            /*TO DESIGN BODY SECTION*/
    background-color: black;          /*TO MAKE THE COLOR OF THE BACKGROUND BLACK*/
}

.button {                     /*TO DESIGN BUTTON CLASS*/
    width: 100%;                   /*SETTING THE WIDTH 85% FOR THE SECREEN*/
    float: left;                  /*TO MAKE THE TEXTS ON THE LEFT SIDE OF THE CONTAINER*/
    position: relative;           /*TO POSITIONE ELEMENT TO ITS NORMAL POSITION*/
    right: 0px;
}

a:link, a:visited  {        /*TO DESIGN A ELEMENTS IN THE WEBSITE*/
    background-color: black;  /*TO SET BACKGROUND COLOR TONE OF BLUE*/
    color: white;               /*TO SET THE FONT COLOR*/
    padding: 10px 10px;         /*TO SET THE PADDING FOR BUTTONS*/
    text-align: center;         /*TO PUT THE TEXT TO THE CENTRE OF THE BUTTON (30PX 40PX)*/
    text-decoration: none;      /*BECAUSE THEY ARE LINK TO OTHER WEBSITES NOT USING ANY TEXT DECORATION LIKE UNDERLINE*/
    font-weight: bold;          /*TO MAKE THE FONT BOLD*/
    margin-top: 0px;            /*TO SET THE H1 ELEMENT AND TOP OF THE PAGE SPACE TO 0PX*/
    display: block;             /*TO PUT THE BOZ TO THE MIDDLE OF THE PAGE*/
    margin-left: auto; 
    margin-right: auto;
    border: 3px solid darkred;
}

a:hover, a:active {         /*TO DESIGN A ELEMENTS WHEN MOUSE-OVER*/
    background-color: darkred;  /*TO MAKE BACKGROUND COLOR DARKER BLUE THAN PREVIOUS COLOR*/
    color: black;
} 

footer {                /*TO DESIGN FOTTER ELEMENT*/
    width: 85%;         /*SETTING THE WIDTH 85% FOR THE SECREEN*/
    color: white;       /*TO SET THE FONT COLOR TO TONE OF THE BLUE*/
    font-size: 1em;     /*TO SET THE FONT SIZE TO 2EM*/
    margin-top: 0px;   /*THE SPACE BETWEEN THE BUTTONS AND THE TEXT*/
    font-weight: bold;  /*TO MAKE THE TEXT BOLD*/
    position: relative; /*TO POSITIONE ELEMENT TO ITS NORMAL POSITION*/
}

.main {                    /*TO DESIGN DIV CLASS CALLED MAIN*/
    position:relative;
    display: inline-block; /*TO DISPLAY IMAGES NEXT TO EACH OTHER*/
    width:100%;
    height:250px;
    margin-top:20px;       /*THE SPACE BETWEEN THE MAIN AREA AND THE TOP ELEMENT*/
    text-align:center;     /*TO PUT THE TEXT TO THE CENTRE OF THE BUTTON (30PX 40PX)*/
}

img {
    border: 3px solid darkred;  /*SETTING THE BORDERS AROUND THE IMAGES*/
    text-align: center;         /*TO MAKE THE TEXT POSITION ON THE CENTER */
    background: white;          /*PADDING COLOR*/
    padding: 6px;               /*SETTING THE PADDING*/
    margin-left: relative;
    display: inline;            /*TO PUT THE BOX TO THE MIDDLE OF THE PAGE*/
    height: 250px;              /*THE HEIGHT OF THE IMAGES*/
    width: 200px;               /*THE WIDTH OF THE IMAGES*/
    margin-left:-4px;           /* trick for remove the space beetwen */
}

.Image{                      /*DESIGN OF THE IMAGE CLASS*/
    padding: 100px;            /*SETTING THE PADDING ELEMENT*/
    background-color: green;
    transition: transform .2s; /*ADDING SOME TRANSACTIONS*/
    width: 200px;              /*THE WIDTH OF THE IMAGES*/
    height: 900px;             /*THE HEIGHT OF THE IMAGES*/
    margin: 0 auto;
}

.image:hover {                   /*WHEN USER HOVERS OVER THE IMAGE*/
    -ms-transform: scale(1.5);     /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}

.top-left {

}

p{                        /*THE DESIGN OF THE P ELEMENT*/
    margin-top: 40px;     /*THE SPACE BETWEEN THE TOP AND THE TEXT*/
    width: 80%;           /*THE WIDTH OF THE AREA ON THE SCREEN*/
    color: white;         /*SETTING THE FONT COLOR TO WHITE*/
    font-size: 20px;      /*SETTING THE FONT SIZE*/
    text-align: center;   /*PUTTING THE P ELEMENT TO THE CENTER*/
    display: block;       
    margin-left: auto;
    margin-right: auto;
}
}

@media only screen and (min-width: 600px) {     /*IF THE SECREEN SIZE IS MORE THAN 600*/


h1 {                             /*TO DESIGN H1 ELEMENT*/
   text-align: center;           /*TO MAKE THE TEXT POSITIONE ON THE CENTER */
   font-size: 7em;               /*TO SET THE H1 ELEMENT FONT SIZE 7EM*/
   font-weight: 900;             /*TO MAKE H1 ELEMENT BOLD*/
   text-shadow: 1px 1px 2px white, 0 0 25px red, 0 0 5px darkred;  /*PUTTING SHADOWS TO THE HEADING*/
}

.main {                         /*TO DESIGN DIV CLASS CALLED MAIN*/
    position:relative;          /*TO POSITIONE ELEMENT TO ITS NORMAL POSITION*/
    display: inline-block;      /*TO DISPLAY IMAGES NEXT TO EACH OTHER*/
    width:100%;
    height:250px;
    margin-top:10px;
    text-align:center;          /*TO MAKE THE TEXT POSITION ON THE CENTER */
}

img {
    border: 3px solid darkred;  /*SETTING THE BORDERS AROUND THE IMAGES*/
    text-align: center;         /*TO MAKE THE TEXT POSITIONE ON THE CENTER */
    background: white;          /*PADDING COLOR*/
    padding: 6px;               /*setting the padding*/
    margin-left: relative;
    display: inline;            /*TO PUT THE BOX TO THE MIDDLE OF THE PAGE*/
    height: 300px;
    width: 250px;
    margin-left:-4px;           /* trick for remove the space beetwen */
}



footer {
    width: 85%;         /*SETTING THE WIDTH 85% FOR THE SECREEN*/
    color: white;       /*TO SET THE FONT COLOR TO TONE OF THE BLUE*/
    font-size: 1em;     /*TO SET THE FONT SIZE TO 2EM*/
    margin-top: 20px;   /*THE SPACE BETWEEN THE BUTTONS AND THE TEXT*/
    font-weight: bold;  /*TO MAKE THE TEXT BOLD*/
    position: relative; /*TO POSITIONE ELEMENT TO ITS NORMAL POSITION*/
    text-align: center;
}

.button  {                 /*TO DESIGN BUTTON CLASS BUTTONS POSITION*/
    width: 100%;           /*TO SET THE WIDTH OF THE BUTTON TO %25 SO IT WILL FIT 25% OF THE SCREEN*/
    float: left;           /*TO PLACE THE BUTTON ON THE LEFT SIDE OF ITS CONTAINER*/
    position: relative;    /*TO PUT ALL THE BUTTONS NEXT TO EACHOTHER*/
}

.Image{
    padding: 100px;          /*SETTING THE PADDING ELEMENT*/
    background-color: green;
    transition: transform .2s;/*ADDING SOME TRANSACTIONS*/
    width: 200px;             /*THE WIDTH OF THE IMAGES*/
    height: 900px;            /*THE HEIGHT OF THE IMAGES*/
    margin: 0 auto;
}

.image:hover {                   /*WHEN USER HOVERS OVER THE IMAGE*/
    -ms-transform: scale(1.5);     /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}
}

@media only screen and (min-width: 1200px) {      /*IF THE SECREEN SIZE IS MORE THAN 1200px*/



h1 {                      /*TO DESIGN H1 ELEMENT*/
    text-align: center;   /*TO MAKE THE TEXT POSITIONE ON THE CENTER */
    font-size: 7em;       /*TO SET THE H1 ELEMENT FONT SIZE 7EM*/
    font-weight: 900;     /*TO MAKE H1 ELEMENT BOLD*/
    text-shadow: 1px 1px 2px white, 0 0 25px red, 0 0 5px darkred; /*PUTTING SHADOWS TO THE HEADING*/
}

.main {                   /*TO DESIGN THE DIV CLASS CALLED MAIN*/
    width: 100%;          /*THE SPACE IT WILL TAKE ON THE BROWSER WINDOW*/
    float: left;          /*MAKE THE MAIN TEXT POSITIONED ON THE RIGHT SIDE OF THE CONTAINER*/
    color: black;         /*TO CHANGE THE TEXT COLOR TO BLACK*/
    text-align: center;   /*TO MAKE THE TEXT POSITIONE ON THE CENTER */
    position:relative;
    margin-top:0px;
}
   
.button  {            /*TO DESIGN DIV CLASS BUTTONS POSITION*/
    width: 15%;           /*TO SET THE WIDTH OF THE BUTTON TO %25 SO IT WILL FIT 25% OF THE SCREEN*/
    padding: 30px 30px;
    float: right;          /*TO PLACE THE BUTTON ON THE LEFT SIDE OF ITS CONTAINER*/
    padding: 20px 10px;         /*TO SET THE PADDING FOR BUTTONS*/
    position: relative;   /*TO PUT ALL THE BUTTONS NEXT TO EACHOTHER*/

}

.li{
    background: white;
}


footer {
    width: 55%;         /*SETTING THE WIDTH 85% FOR THE SECREEN*/
    color: white;       /*TO SET THE FONT COLOR TO TONE OF THE BLUE*/
    font-size: 1em;     /*TO SET THE FONT SIZE TO 2EM*/
    margin-top: 1000px;;  /*THE SPACE BETWEEN THE BUTTONS AND THE TEXT*/
    margin-left: 400px;
    font-weight: bold;  /*TO MAKE THE TEXT BOLD*/
}

img {
    border: 4px solid darkred;   /*SETTING THE BORDERS AROUND THE IMAGES*/
    border-radius: 10px;
    background: white;           /*PADDING COLOR*/
    padding: 6px;                /*setting the padding*/
    width: 290px;
    display: inline-block;       /*TO PUT THE BOZ TO THE MIDDLE OF THE PAGE*/
    height: 300px;
    width: 300px;
    margin-left: auto; 
    margin-right: auto;

}

.Image{
    padding: 100px;           /*SETTING THE PADDING ELEMENT*/
    background-color: green;
    transition: transform .2s;/*ADDING SOME TRANSACTIONS*/
    width: 200px;             /*THE WIDTH OF THE IMAGES*/
    height: 900px;            /*THE HEIGHT OF THE IMAGES*/
    margin: 0 auto;

}

.image:hover {                   /*WHEN USER HOVERS OVER THE IMAGE*/
    -ms-transform: scale(1.5);     /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}

.image2{                    /*DESIGNING THE CLASS IMAGE2*/
    width: 20%;             /*SETTING THE WIDTH THE IMAGE WILL TAKE ON THE BROWSER*/
    border: 0px solid black;/*SETTING TE BORDER*/
    float: left;            /*KEEP IT CLOSE TO THE LEFT SIDE OF THE SCREEN*/
    margin-left: 180px;     /*THE SPACE BETWEEN THE LEFT SIDE OF THE SCREEN AND THE PICTURE*/
    background: black;      /*SETTING THE BACKGROUND ELEMENT*/
    height: 500px;          /*SETTING THE HEIGHT*/
    width: 300px;           /*SETTING THE WIDTH*/

}

p{                     /*DESIGNING THE P ELEMENT*/
    margin-top: 60px;  /*THE SPACE BETWEEN THE PHARAGHRAPH AND THE HEADING*/
    width: 60%;        /*THE SIZE IT WILL TAKE ON THE SCREEN*/
    color: white;      /*FONT COLOR*/
    font-size: 20px;   /*FONT SIZE*/
}

.LI-profile-badge{      /*DESIGN OF THE LI-profile-badge CLASS*/
    margin-left: 200px; 
    margin-right: 200px; 
}

mark{
    color: darkred;
}
}
